.default-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // COLORS
  --blue-light: #dff7fe;
  --green-light: #ebffd4;
  --yellow-light: #fbfedf;
  --pink-light: #ffebfd;

  .container {
    max-width: 45rem;
    margin: 0 auto;
    padding: 1rem;
  }

  main {
    flex-grow: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--sans-font-family);
    line-height: 1.1;
  }

  a {
    text-decoration: none;
  }

  table {
    font-size: 1rem;
    font-family: var(--sans-font-family);
    th {
      text-align: left;
      padding: 0.25rem 0.5rem;
    }
    td {
      border-top: 1px solid #ccc;
      padding: 0.5rem;
    }
    tr:last-child td {
      border-bottom: 1px solid #ccc;
    }
  }

  // title area at the top
  // should always have a background color
  // and image
  .page-title {
    text-align: center;
    padding: 6rem 0 0;
    background-color: var(--green-light);
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
    }
    .subtitle {
      margin-top: 0.25em;
      display: block;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 0.25rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .key-value-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    dt,
    dd {
      padding: 0.5rem;
    }
    dt {
      color: #aaa;
      text-align: right;
    }
    dd {
      margin: 0;
    }
  }

  .app-footer {
    background: #111;
    color: #fff;
    text-align: center;
    flex-shrink: 0;
  }
}
