.orientation-student-page {
  --blue-light: #dff7fe;
  --green-light: #ebffd4;
  --yellow-light: #fbfedf;
  --pink-light: #ffebfd;
  --sans-font: "Lato", sans-serif;
  --slab-font: "Zilla Slab", serif;

  .container {
    max-width: 45rem;
    margin: 0 auto;
  }

  main {
    font-family: var(--slab-font);
    counter-reset: section-counter;
  }

  h1,
  h2 {
    line-height: 1.1;
  }

  a {
    text-decoration: none;
  }

  // MCAD X Online Learning
  // with a rule underneath
  .app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    padding: 0;
    a {
      padding: 0.75rem 0;
      margin: 0 1rem;
      display: block;
      color: var(--text-color);
      border-bottom: 1px solid black;
    }
  }

  .page-title {
    text-align: center;
    padding: 6rem 0 0;
    background-color: var(--green-light);
    h1 {
      font-size: 3.5rem;
    }
    .subtitle {
      display: block;
      font-size: 2rem;
    }
  }

  .section-interlude {
    position: relative;
    background-image: linear-gradient(
      180deg,
      var(--green-light) 0%,
      var(--blue-light) 40%,
      #fff 40%,
      #fff 100%
    );
    padding: 2rem;
    img {
      display: block;
      width: 30rem;
      max-width: 100%;
      margin: auto;
    }
    .image-by {
      font-family: var(--sans-font);
      font-size: 0.8rem;
      text-align: center;
      color: #bbb;
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .section-intro {
    background: white;
    font-size: 24px;
  }

  h2 {
    text-align: center;
    font-family: var(--sans-font);
    font-size: 2rem;
  }

  .page-section {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    h2:before {
      display: block;
      counter-increment: section-counter;
      content: counter(section-counter);
      margin-bottom: 1rem;
      font-size: 5rem;
    }
  }
  section:nth-of-type(3) {
    background-image: linear-gradient(
      180deg,
      var(--yellow-light) 0%,
      var(--green-light) 100%
    );
  }
  section:nth-of-type(5) {
    background-image: linear-gradient(
      180deg,
      var(--blue-light) 0%,
      var(--green-light) 100%
    );
  }

  section:nth-of-type(7) {
    background-image: linear-gradient(
      180deg,
      var(--pink-light) 0%,
      var(--yellow-light) 100%
    );
  }

  table {
    font-family: var(--sans-font);
    font-size: 1rem;
    th {
      text-align: left;
      padding: 0.25rem 0.5rem;
    }
    td {
      border-top: 1px solid #ccc;
      padding: 0.5rem;
    }
    tr:last-child td {
      border-bottom: 1px solid #ccc;
    }
  }

  .accordion__contents {
    font-family: var(--sans-font);
    font-size: 1.25rem;
  }

  ul {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .key-value-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    dt,
    dd {
      padding: 0.5rem;
    }
    dt {
      color: #aaa;
      text-align: right;
    }
    dd {
      margin: 0;
    }
  }
}
