.app-header {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  border-bottom: 1px solid rgb(36, 24, 24);
  margin: 0 2.5%;

  .container {
    position: relative;
  }

  .app-header__left {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
  }

  a {
    color: var(--text-color);
  }

  .logo {
    max-height: 0.75rem;
    display: inline-block;
    margin: 0 0.3333em;
  }
  a {
    text-decoration: none;
  }
}
