*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  --blue: #2773e2;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

a {
  color: var(--blue);
}
