.orientation-student-page {
  // --blue-light: #dff7fe;
  // --green-light: #ebffd4;
  // --yellow-light: #fbfedf;
  // --pink-light: #ffebfd;

  main {
    counter-reset: section-counter;
  }

  .section-interlude {
    position: relative;
    background-image: linear-gradient(
      180deg,
      var(--green-light) 0%,
      var(--blue-light) 40%,
      #fff 40%,
      #fff 100%
    );
    padding: 2rem;
    img {
      display: block;
      width: 30rem;
      max-width: 100%;
      margin: auto;
    }
    .image-by {
      font-family: var(--sans-font);
      font-size: 0.8rem;
      text-align: center;
      color: #bbb;
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .section-intro {
    background: white;
    font-size: 24px;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .page-section {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    h2:before {
      display: block;
      counter-increment: section-counter;
      content: counter(section-counter);
      margin-bottom: 1rem;
      font-size: 5rem;
    }
  }
  section:nth-of-type(3) {
    background-image: linear-gradient(
      180deg,
      var(--yellow-light) 0%,
      var(--green-light) 100%
    );
  }
  section:nth-of-type(5) {
    background-image: linear-gradient(
      180deg,
      var(--blue-light) 0%,
      var(--green-light) 100%
    );
  }

  section:nth-of-type(7) {
    background-image: linear-gradient(
      180deg,
      var(--pink-light) 0%,
      var(--yellow-light) 100%
    );
  }

  ul {
    font-size: 1.5rem;
  }
}
